{% extends "layout.html.twig" %}

{% block content %}
    {{ test }}
    {{ action }}
    <div class="row">
        <div class="col s12">
            <form  method="post" name="form" action="{{ action }}">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">dialpad</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <button class="btn waves-effect waves-light" type="submit" name="form">Valider
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}