<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='utf-8'>
    <title>RuneAudio</title>



    <script src='lib/jquery-2.2.0.min.js'></script>
    <script src="lib/leaflet.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-leaflet-directive.min.js"></script>
    <script src="lib/angular-materialize.js"></script>
    <script src="lib/materialize/js/materialize.min.js"></script>
    <script src="lib/ngStorage.min.js"></script>
    <script src="lib/clipboard.js-master/dist/clipboard.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/main/main_controller.js"></script>

    <script src="app/player/player.js"></script>
    <script src="app/player/player_controller.js"></script>
    <script src="app/player/player_directive.js"></script>
    <script src="app/player/player_control_directive.js"></script>

    <script src="app/playlist/playlist.js"></script>
    <script src="app/playlist/playlist_controller.js"></script>
    <script src="app/playlist/playlist_current.js"></script>
    <script src="app/playlist/playlist_directive.js"></script>

    <script src="app/rune/rune.js"></script>
    <script src="app/rune/rune_controller.js"></script>
    <script src="app/rune/rune_current.js"></script>
    <script src="app/rune/rune_directive.js"></script>

    <script src="app/settings/settings.js"></script>
    <script src="app/settings/settings_controller.js"></script>
    <script src="app/settings/settings_directive.js"></script>

    <script src="app/mpd/mpd_controller.js"></script>
    <script src="app/mpd/mpd_directive.js"></script>

    <script src="app/debug/debug_controller.js"></script>
    <script src="app/debug/debug_directive.js"></script>

    <link rel="stylesheet" href="lib/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="lib/leaflet.css"/>
    <link rel="stylesheet" href="index.css">

</head>
<body ng-app="rune">
    <div id="main_wrap" ng-controller="MainController">
        <header>
            <!--sidebar-->
            <ul id="sidebar" class="side-nav" style="width: 240px; left: 0px;">
                <li class="no-padding">
                    <a href="#" ng-click="show_player=true;show_playlist=false;show_manager=false;show_settings=false;show_mpd=false;show_debug=false;show_control=true"><i class="material-icons">headset</i> Player</a>
                </li>
                <li class="no-padding">
                    <a href="#" ng-click="show_player=false;show_playlist=true;show_manager=false;show_settings=false;show_mpd=false;show_debug=false;show_control=true"><i class="material-icons">library_music</i> Playlist</a>
                </li>
                <li class="no-padding">
                    <a href="#" ng-click="show_player=false;show_playlist=false;show_manager=true;show_settings=false;show_mpd=false;show_debug=false;show_control=false"><i class="material-icons">add_to_queue</i> Rune Manager</a>
                </li>
                <li class="no-padding">
                    <a href="#" ng-click="show_player=false;show_playlist=false;show_manager=false;show_settings=true;show_mpd=false;show_debug=false;show_control=false"><i class="material-icons">settings</i> Settings</a>
                </li>
                <li class="no-padding">
                    <a href="#" ng-click="show_player=false;show_playlist=false;show_manager=false;show_settings=false;show_mpd=true;show_debug=false;show_control=false"><i class="material-icons">surround_sound</i> MPD Settings</a>
                </li>
                <li class="no-padding">
                    <a href="#" ng-click="show_player=false;show_playlist=false;show_manager=false;show_settings=false;show_mpd=false;show_debug=true;show_control=false"><i class="material-icons">recent_actors</i> Debug</a>
                </li>
            </ul>

            <!-- sidebar playlist -->
            <ul id="sidePlaylist" class="side-nav" style="width: 240px;">
                <li class="no-padding">
                    <div class="row" ng-controller="PlaylistController">
                        <div class="col s12 m10 offset-m1 l10 offset-l1">
                            <button class="btn light-blue center-align" ng-click="playlist_get()"><i class="material-icons">replay</i></button>
                            <table class="highlight striped centered">
                                <thead>
                                <tr>
                                    <th data-field="titre">Titre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="track in tracks | orderBy: 'track.Pos' " ng-click="play_on_click(track)">
                                    <td>{{ track.Title }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="row">
                <div class="row">
                    <a href="#" data-activates="sidebar" class="button-collapse top-nav ng-isolate-scope" data-sidenav="left" data-closeonclick="false"><i class="material-icons" style="font-size: 50px">menu</i></a>
                    <a href="#" data-activates="sidePlaylist" class="button-collapse top-nav ng-isolate-scope right" data-sidenav="right" data-closeonclick="false"><i class="material-icons" style="font-size: 50px;">library_music</i></a>
                </div>
                <div class="center">
                    <h3>RuneAudio</h3>
                </div>

                <!--select rune-->
                <div class="col s4 offset-s4" ng-show="show_player">
                    <select class="" ng-change="change_rune(rune)" ng-model="rune" material-select watch>
                        <option  ng-repeat="rune in runes" value={{rune}}>{{rune.label}}</option>
                    </select>
                </div>
            </div>
        </header>
        <div class="row" ng-controller="PlayerController">
            <player ng-show="show_player" />
        </div>

        <div class="row" ng-controller="PlaylistController">
            <playlist ng-show="show_playlist" />
        </div>

        <div class="row" ng-controller="RuneController">
            <runemanager ng-show="show_manager" />
        </div>

        <div class="row" ng-controller="SettingsController">
            <settings ng-show="show_settings" />
        </div>

        <div class="row" ng-controller="MpdController">
            <mpd ng-show="show_mpd" />
        </div>

        <div class="row" ng-controller="DebugController">
            <debug ng-show="show_debug"  />
        </div>
    </div>
</body>
</html>
