<div class="container">
    <div class="row">
        <label><strong>Audio output interface</strong></label>
        <label>
            <span class="caret">▼</span>
            <select  ng-model="AudioOutput" material-select="" watch="">
                <option ng-repeat="(keyAudioOutput, valueAudioOutput) in dataMpd.AudioOutput" ng-if="keyAudioOutput != 'select'" ng-selected="valueAudioOutput === dataMpd.AudioOutput['select']">{{valueAudioOutput}}</option>
            </select>
        </label>
    </div>
    <hr/>
    <br/>
    <div class="row">
        <label><strong>Volume control</strong></label>
        <label>
            <span class="caret">▼</span>
            <select  material-select="" watch="">
                <option ng-repeat="(keyVolumeControl, valueVolumeControl) in dataMpd.VolumeControle" ng-if="keyVolumeControl != 'select'" ng-selected="valueVolumeControl === dataMpd.VolumeControle['select']">{{valueVolumeControl}}</option>
            </select>
        </label>
    </div>
    <hr/>
    <br/>
    <label><strong>General music daemon options</strong></label>
    <div class="row">
        <label><strong>Port</strong></label>
        <label>
            <input type="text" value="{{dataMpd.Port}}">
        </label>
    </div>
    <br/>    
    <div class="row">
        <label><strong>Daemon user : group</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyDaemonUser, valueDaemonUser) in dataMpd.DaemonUser" ng-if="keyDaemonUser != 'select'" ng-selected="valueDaemonUser === dataMpd.DaemonUser['select']">{{valueDaemonUser}}</option>
            </select>
        </label>
    </div>
    <br/>    
    <div class="row">
        <label><strong>Log level</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyLogLevel, valueLogLevel) in dataMpd.LogLevel" ng-if="keyLogLevel != 'select'" ng-selected="valueLogLevel === dataMpd.LogLevel['select']">{{valueLogLevel}}</option>
            </select>
        </label>
    </div>
    <br/>    
    <div class="row">
        <label><strong>State file</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyStateFile, valueStateFile) in dataMpd.StateFile" ng-if="keyStateFile != 'select'" ng-selected="valueStateFile === dataMpd.StateFile['select']">{{valueStateFile}}</option>
            </select>
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>FFmpeg decoder plugin</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyFFmpeg, valueFFmpeg) in dataMpd.FFmpeg" ng-if="keyFFmpeg != 'select'" ng-selected="valueFFmpeg === dataMpd.FFmpeg['select']">{{valueFFmpeg}}</option>
            </select>
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>Gapless mp3 playback</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyGapless, valueGapless) in dataMpd.Gapless" ng-if="keyGapless != 'select'" ng-selected="valueGapless === dataMpd.Gapless['select']">{{valueGapless}}</option>
            </select>
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>DSD support</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyDSDSupport, valueDSDSupport) in dataMpd.DSDSupport" ng-if="keyDSDSupport != 'select'" ng-selected="valueDSDSupport === dataMpd.DSDSupport['select']">{{valueDSDSupport}}</option>
            </select>
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>Volume normalization</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyVolumeNormalization, valueVolumeNormalization) in dataMpd.VolumeNormalization" ng-if="keyVolumeNormalization != 'select'" ng-selected="valueVolumeNormalization === dataMpd.VolumeNormalization['select']">{{valueVolumeNormalization}}</option>
            </select>
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>Audio buffer size</strong></label>
        <label>
            <input type="text" value="{{dataMpd.AudioBufferSize}}">
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>Buffer before play</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyBuffer, valueBuffer) in dataMpd.Buffer" ng-if="keyBuffer != 'select'" ng-selected="valueBuffer === dataMpd.Buffer['select']">{{valueBuffer}}</option>
            </select>
        </label>
    </div>
    <br/>
    <div class="row">
        <label><strong>Auto update</strong></label>
        <label>
            <span class="caret">▼</span>
            <select material-select="" watch="">
                <option ng-repeat="(keyAutoUpdate, valueAutoUpdate) in dataMpd.AutoUpdate" ng-if="keyAutoUpdate != 'select'" ng-selected="valueAutoUpdate === dataMpd.AutoUpdate['select']">{{valueAutoUpdate}}</option>
            </select>
        </label>
    </div>
    <a class="waves-effect waves-light btn">Validate</a>
</div>