<div class="center">
    <h4><i>Playlist</i></h4>
</div>
<div class="row">
    <div class="col s12 l10 offset-l1">
        <div class="switch col s4">
            <label><strong>Replay</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="playlist.repeat" ng-click="playlist_repeat()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="switch col s4">
            <label><strong>Random</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="playlist.random" ng-click="playlist_random()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="switch col s4">
            <label><strong>Sound</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="playlist.sound" ng-click="playlist_soundRepeat()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div>
            <button class="btn" ng-click="playlist_get()">Actualiser la playlist</button>
        </div>
        <table class="highlight striped centered">
            <thead>
            <tr>
                <th data-field="nombre">#</th>
                <th data-field="titre">Titre</th>
                <th data-field="artiste">Artiste</th>
                <th data-field="album">Album</th>
                <th data-field="duree">Durée</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in tracks | orderBy: 'track.Id' ">
                <td>{{ track.Id }}</td>
                <td>{{ track.Title }}</td>
                <td>{{ track.Artist }}</td>
                <td>{{ track.Album }}</td>
                <td>{{ track.Time }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
