<div class="center">
    <h4><i>Playlist</i></h4>
</div>
<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
        <div class="switch col s4">
            <label><strong>Replay</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="playlist.repeat" ng-click="playlist_repeat()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="switch col s4">
            <label><strong>Random</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="playlist.random" ng-click="playlist_random()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="switch col s4">
            <label><strong>Sound</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="playlist.sound" ng-click="playlist_soundRepeat()">
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<div class="row center">
    <button class="btn light-blue" ng-click="playlist_get()">Actualiser la playlist</button>
    <button class="btn light-blue" ng-click="playlist_add()">Ajouter toutes les musiques</button>
</div>
<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
        <table class="highlight striped centered">
            <thead>
            <tr>
                <th data-field="nombre">#</th>
                <th data-field="titre">Titre</th>
                <th data-field="artiste">Artiste</th>
                <th data-field="album">Album</th>
                <th data-field="duree">Durée</th>
                <th data-field="duree">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in tracks | orderBy: 'track.Id' " ng-click="playOnClick(track.Id)">
                <td>{{ track.Id }}</td>
                <td>{{ track.Title }}</td>
                <td>{{ track.Artist }}</td>
                <td>{{ track.Album }}</td>
                <td>{{ track.Time }}</td>
                <td><button ng-model="track" class="btn-floating btn-large waves-effect waves-light red" ng-click="playlist_remove(track)"><i class="material-icons">delete</i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col s6 offset-s3">
    <ul class="collection with-header">
        <li class="collection-header"><h4>{{dir}}</h4></li>
        <li ng-repeat="dir in responseDirs" class="collection-item"><div>{{ dir.name }}<a href="#"  ng-model="dir" ng-click="getDir(dir)" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
</div>
