<div class="center">
    <ul class="pagination">
        <li class="disabled grey-text"><i class="material-icons">chevron_left</i></li>
        <li class="waves-effect" ng-click="player_previous()"><i class="material-icons">skip_previous</i></li>
        <li class="waves-effect" ng-click="player_start()"><i class="material-icons">play_circle_outline</i></li>
        <li class="waves-effect" ng-click="player_pause()"><i class="material-icons">pause_circle_outline</i></li>
        <li class="waves-effect" ng-click="player_next()"><i class="material-icons">skip_next</i></li>
        <li class="disabled grey-text"><i class="material-icons">chevron_right</i></li>
    </ul>
</div>