<div class="center">
    <h4><i>Rune Manager</i></h4>
</div>
<div class="row">
    <div class="col s8 offset-s2 m10 offset-m1 l8 offset-l2">
        <table class="highlight striped centered responsive-table">
            <thead>
            <tr>
                <th data-field="id">Runes</th>
                <th data-field="name">IP</th>
                <th data-field="name">Delete</th>
                <th data-field="name">Select</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rune in runes | orderBy: 'rune.label' ">
                <td>{{ rune.label }}</td>
                <td>{{ rune.ip }}</td>
                <td><button class="btn-floating btn-large waves-effect waves-light red" ng-model="delRune" ng-value="delRune.ip = '{{ rune.ip }}'" ng-click="delete_rune(delRune)"><i class="material-icons">delete</i></button></td>
                <td><button class="btn" ng-model="rune" ng-click="change_rune(rune)">Selectionner</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <!--add new rune-->
    <div class="col s8 offset-s2 m10 offset-m1 l8 offset-l2">
        <table class="highlight striped centered2">
            <tbody>
            <tr>
                <td><input type="text" placeholder="Label" ng-model="addRune.label" ng-required="true"/></td>
                <td><input type="text" placeholder="IP" ng-model="addRune.ip" ng-required="true" /></td>
                <td><button class="btn-floating btn-large waves-effect waves-light red" ng-model="addRune" ng-click="add_rune(addRune)"><i class="material-icons">add</i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
