<div class="col l4 m8 s12 offset-l4 offset-s3 offset-m2">
    <h4 class="center">Select a game</h4>

    <div class="row">
        <select class="" ng-options="serie as serie.label for serie in series track by serie.id" material-select
                ng-model="game.selected">
            <option value="" selected="selected">Choose A Game</option>
        </select>
    </div>
    <div class="row">
        <select class="" material-select ng-model="game.difficult">
            <option value="" selected="selected">Choose A difficulty</option>
            <option value="1">Normal</option>
            <option value="2">Advanced</option>
            <option value="3">Hardcore</option>
        </select>
    </div>
    <div input-field>
        <input type="text" ng-model="game.player" name="nick"/>
        <label>NickName</label>
    </div>
    <div class="center">
        <a id="startBtn" ng-click="select_serie(game)" class="btn">Start <i class="material-icons right">fast_forward</i></a>
    </div>
    <br>


</div>