<div class="container">
    <div class="row">
        <!-- Airplay -->
        <div class="switch">
            <label><strong>Airplay</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="airplay_enable" ng-click="airplay_enable()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="input-field col s6">
            <input id="airplay_name" ng-model="airplay_name" type="text" class="validate">
            <label for="airplay_name">Airplay Name</label>
        </div>
    </div>

    <div class="row">
        <!-- Spotify -->
        <div class="switch">
            <label><strong>Spotify</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="spotify_enable" ng-click="spotify_enable()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="input-field col s6">
            <input id="spotify_name" ng-model="spotify_name" type="text" class="validate">
            <label for="spotify_name">Spotify User Name</label>
        </div>
        <div class="input-field col s6">
            <input id="spotify_password" ng-model="spotify_password" type="password" class="validate">
            <label for="spotify_password">Password</label>
        </div>
    </div>

    <div class="row">
        <!-- UPnP DLNA -->
        <div class="switch">
            <label><strong>UPnP / DLNA</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="upnp_enable" ng-click="upnp_enable()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="input-field col s6">
            <input id="upnp_name" ng-model="upnp_name" type="text" class="validate">
            <label for="upnp_name">Airplay Name</label>
        </div>
    </div>

    <div class="row">
        <!-- usb and album -->
        <div class="switch">
            <label><strong>USB Automount</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="usb_enable" ng-click="usb_enable()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="switch">
            <label><strong>Display album cover</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="album_enable" ng-click="album_enable()">
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>

    <div class="row">
        <!-- FM -->
        <div class="switch">
            <label><strong>Last.fm</strong></label>
            <label>
                Off
                <input type="checkbox" ng-model="lastFM_enable" ng-click="lastFM_enable()">
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="input-field col s6">
            <input id="lastfm_name" ng-model="lastfm_name" type="text" class="validate">
            <label for="lastfm_name">Last.fm User Name</label>
        </div>
        <div class="input-field col s6">
            <input id="lastfm_password" ng-model="lastfm_password" type="password" class="validate">
            <label for="lastfm_password">Password</label>
        </div>
    </div>
</div>
